@use '../../_css/queries.scss' as *;

.footer {
  grid-gap: 1rem;
  padding-block: 1rem;
  background-color: var(--color-base-50);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include small-break {
    grid-gap: 2rem;
    flex-direction: column;
  }
}

.copyright {
  @include small-break {
    order: 2;
    width: 100%;
  }
}

.innerLink {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -1rem;
    width: 1px;
    background-color: currentColor;

    @include small-break {
      left: auto;
      right: -0.5rem;
    }
  }

  + .innerLink {
    &::before {
      @include small-break {
        display: none;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  font-size: 0.875rem;
  grid-gap: 2rem;
  color: var(--color-base-500);
  transition: opacity 100ms linear;
  visibility: visible;
  
  @include small-break {
    justify-content: center;
    grid-gap: 1rem;
  }
}
