@use '../../_css/queries.scss' as *;

.header {
  padding-block: 0.5rem;

  @include small-break {
    padding-block: 0.3125rem;
  }
}

.wrap {
  display: grid;
  align-items: center;
  grid-template-columns: 40% auto 40%;
  justify-content: space-between;

  @include small-break {
    grid-gap: 1rem;
    grid-template-columns: 1fr auto auto;
  }
}

.nav {
  @include small-break {
    position: absolute;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

.logo {
  color: var(--color-primary);

  @include small-break {
    order: -1;
    width: 24px;
    height: 24px;
  }
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 1rem;
}
